@import "tailwindcss";

body {
  height: 100vh;
  overflow-y: scroll;
}

video-player-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%;
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(2)) {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(5)) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

video-player {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}